# Python
venv/
**/venv/
__pycache__/
**/__pycache__/
*.pyc

# Environment
.env

# VS Code
.vscode/

# Uploads
uploads/

# Vector DB
vector_db/

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db